<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img style="width: 60%; margin-left: auto; margin-right: auto;" src="/assets/logo.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="container" lines="none">
    <ion-list-header>
      <ion-label>Parameters we use to estimate your pollution intake:</ion-label>
    </ion-list-header>

    <ion-list-header>
      <ion-label>Air Quality Index (AQI US):</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon name="warning" color="success" slot="start"></ion-icon>
      Good
      <div class="item-note" color="warning" slot="end">0 - 50</div>
    </ion-item>
    <ion-item>
      <ion-icon name="warning" color="warning" slot="start"></ion-icon>
      Moderate
      <div class="item-note" slot="end">51 - 100</div>
    </ion-item>
    <ion-item>
      <ion-icon name="warning" color="dark" slot="start"></ion-icon>
      Unhealthy I
      <div class="item-note" slot="end">101 - 150</div>
    </ion-item>
    <ion-item>
      <ion-icon name="warning" color="danger" slot="start"></ion-icon>
      Unhealthy II
      <div class="item-note" slot="end">151 - 200</div>
    </ion-item>
    <ion-item>
      <ion-icon name="warning" color="light" slot="start"></ion-icon>
      Very unhealthy
      <div class="item-note" slot="end"> 201 - 300</div>
    </ion-item>
    <ion-item>
      <ion-icon name="warning" color="tertiary" slot="start"></ion-icon>
      Hazardous
      <div class="item-note" slot="end"> > 300</div>
    </ion-item>

    <ion-list-header>
      <ion-label>Levels per person (&mu;g/day)</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon name="man" color="success" slot="start"></ion-icon>
      Good
      <div class="item-note" slot="end">0 - 1080</div>
    </ion-item>
    <ion-item>
      <ion-icon name="man" color="warning" slot="start"></ion-icon>
      Moderate
      <div class="item-note" slot="end">1081 - 3080</div>
    </ion-item>
    <ion-item>
      <ion-icon name="man" color="dark" slot="start"></ion-icon>
      Unhealthy I
      <div class="item-note" slot="end">3081 - 5080</div>
    </ion-item>
    <ion-item>
      <ion-icon name="man" color="danger" slot="start"></ion-icon>
      Unhealthy II
      <div class="item-note" slot="end">5081 - 7080</div>
    </ion-item>
    <ion-item>
      <ion-icon name="man" color="light" slot="start"></ion-icon>
      Very unhealthy
      <div class="item-note" slot="end">7081 - 8480</div>
    </ion-item>
    <ion-item>
      <ion-icon name="man" color="tertiary" slot="start"></ion-icon>
      Hazardous
      <div class="item-note" slot="end"> > 8480</div>
    </ion-item>

  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
