.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.button {
  height: 32px;
  width: auto;
  width: 70%;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 2px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
}

.container {
  width: auto;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.label{
  --color: #ffffff;
  width: 45%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 25px;
}

.highlight {
  font-size: 15px;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
}

.highlight2 {
  font-size: 15px;

  padding-top: 0px;
  padding-bottom: 0px;
}
