<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      PolluApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
      <ion-card-header>
        <ion-card-subtitle>Hello, Jorge</ion-card-subtitle>
        <ion-card-title>Today's pollution intake:</ion-card-title><br>
        <ion-card-title class="highlight" >145 ug/m3</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> Santiago, Chile</p>
      </ion-card-content>
    </ion-card>

    <ion-list class="container" lines="none">
      <ion-list-header>
        <ion-label>Select the intensity of you current physical activity:</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-button color="secondary" shape="round">
          <ion-icon slot="start" name="cloudy-night"></ion-icon>
           Low Intensity
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button color="primary" shape="round">
          <ion-icon slot="start" name="briefcase"></ion-icon>
           Moderate Intensity
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button ion-button color="danger" shape="round">
        <ion-icon slot="start" name="bicycle"></ion-icon>
         High Intensity
      </ion-button>
      </ion-item>

    </ion-list>
</ion-content>
