<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img style="width: 60%; margin-left: auto; margin-right: auto;" src="/assets/logo.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="container" lines="none">
    <ion-list-header>
      <ion-label>Your current location</ion-label>
    </ion-list-header>
    <div *ngIf="geoLatitude">
    <ion-item>
      <ion-icon name="globe" slot="start"></ion-icon>
      <p>Latitude: </p>
      <div class="item-note" slot="end"><p>{{geoLatitude.toFixed(4)}}</p></div>
    </ion-item>

    <ion-item>
      <ion-icon name="globe" slot="start"></ion-icon>
      <p>Longitude: </p>
      <div class="item-note" slot="end"><p>{{geoLongitude.toFixed(4)}}</p></div>
    </ion-item>

    <ion-item>
      <ion-icon name="locate" slot="start"></ion-icon>
      <p>Accuracy: </p>
      <div class="item-note" slot="end"><p>{{geoAccuracy}}</p></div>
    </ion-item>

    <ion-item>
      <ion-icon name="information-circle" slot="start"></ion-icon>
      <p>Air quality index (AQI US): </p>
      <div class="item-note" slot="end"><p>{{val}}</p></div>
    </ion-item>

    </div>



  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
